extends layout

block content

    h1 Author: #{user.name}
    p #{user.date_of_birth_formatted}
    p #{user.username}

    hr
    p
        a(href=user.url+'/delete') Delete user
    
    p
        a(href=user.url+'/update') Update user